<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css(.tmp) styles/main.css -->
           <!-- css from bower -->
           <!-- bower:css -->
           <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
           <!--link rel="stylesheet" href="bower_components/bootstrap-datepicker/css/datepicker.css" />
           <link rel="stylesheet" href="bower_components/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
           <link rel="stylesheet" href="bower_components/bootstrap-select/bootstrap-select.css" /-->
           <!-- endbower -->

            <!-- <link rel="stylesheet" href="bower_components/fuelux/dist/css/fuelux.css"> -->
            <!-- <link rel="stylesheet" href="bower_components/fuelux/dist/css/fuelux-responsive.css"> -->

            <link href="http://www.fuelcdn.com/fuelux-imh/2.4.0/css/fuelux.css" rel="stylesheet" />
            <link href="http://www.fuelcdn.com/fuelux-imh/2.4.0/css/fuelux-responsive.css" rel="stylesheet" />
            

        <link rel="stylesheet" href="bower_components/leaflet-dist/leaflet.css" />
            
        <link rel="stylesheet" href="scripts/external/Leaflet-Coordinates/dist/Leaflet.Coordinates-0.1.4.css" />

        <link rel="stylesheet" href="bower_components/bootswatch/flatly/bootstrap.css" />
        <link rel="stylesheet" href="/styles/pinzModal.css">
           
        <!-- endbuild -->
        
        <style>
          .brush {
            stroke: #fff;
            fill-opacity: .125;
            shape-rendering: crispEdges;
          }
        </style>
</head>
  <body ng-app="modalApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!-- div class="container" ng-view=""></div -->
    <div class="container" ng-controller="ModalCtrl">

        <div class="row">
          <div class="col-md-2 col-md-offset-5">
            <!-- Button to trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" ng-click="showModal()">Query For Data</button>
          </div>
        </div>

        <div ng-controller="MapCtrl">
          <div class="row">
            <div class="col-md-6">
                <div pinz-leaflet pinz="pinzData"></div> <!-- gets replaced by ngLeaflet directive -->
            </div> 
          </div>

          <div class="row"> 
            <div id="map" style="height: 480px;" class="col-md-12"></div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div id="timeline" pinz-timeline pinz="pinzData"></div>
            </div>
          </div>

          <div class="row">
            <div class="btn-group" style="margin-top: 1em;">
            <button type="button" ng-click="startDataFeed()" class="btn btn-lg btn-success">Start</button>
            <button type="button" ng-click="stopDataFeed()" class="btn btn-lg btn-danger">Stop</button>
          </div>
          <p>{{statusMessage}}</p>

          </div>

          <!-- div class="row">
            <div class="well col-md-6">{{pinzData | json:'  '}}</div>
          </div -->
        </div> <!-- end map ctrl -->

    </div> <!-- end modal ctrl -->

    <script src="bower_components/angular/angular.js"></script>

        <!-- build:js scripts/modules.js -->
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
          <!-- bower:js -->
          <script src="bower_components/jquery/jquery.js"></script>
          <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
          <script src="bower_components/autotype/index.js"></script>
          <script src="bower_components/leaflet-dist/leaflet.js"></script>
          <script src="bower_components/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
          <script src="bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
          <script src="bower_components/bootstrap-select/bootstrap-select.js"></script>
          <script src="bower_components/d3/d3.js"></script>

          <!-- <script src="bower_components/fuelux/dist/all.js"></script> -->
          <script src="http://www.fuelcdn.com/fuelux-imh/2.4.0/loader.min.js" type="text/javascript"></script>

          <!-- endbower -->
          <!-- a patched angular strap to support bootstrap 3 modals -->
          <script src="scripts/directives/patched/angular-strap-modal-bootstrap3.js"></script>
          <script src="scripts/external/Leaflet-Coordinates/dist/Leaflet.Coordinates-0.1.4.src.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/directives/pinzLeaflet.js"></script>
        <script src="scripts/directives/timeline.js"></script>
        <script src="scripts/services/dataService.js"></script>
        <script src="scripts/services/MetadataService.js"></script>
        <!-- script src="scripts/controllers/main.js"></script -->
        <script src="scripts/controllers/Map.js"></script>
        <script src="scripts/controllers/QueryCtrl.js"></script>
        <!-- script src="scripts/directives/leafletSnap.js"></script> -->
        
        <!-- endbuild -->
</body>
</html>
