<div class="container">
  
  <div class="row">
    <div class="col-md-4">
      <h3>I've found {{numDataFeeds}} data feeds.</h3>
    </div>
    <div class="col-md-4">
      <h3>Alerts</h3>
        <div class="alert alert-success">Successes go here</div>
        <div class="alert alert-info">info goes here</div>
       
    </div>

    <div class="col-md-4">
      <h3>More alerts</h3>
      <div class="alert alert-warning">Warning goes here</div>
      <div class="alert alert-danger">Danger goes here</div>
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Warning!</strong> Best check yo self, you're not looking too good.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p>3 cols wide</p> 
      <!-- Standard gray button with gradient -->
      <button type="button" class="btn btn-default">Default</button>

      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-md-6">
      <p>.col-md-6</p>

      <!-- Indicates a successful or positive action -->
      <button type="button" class="btn btn-success">Success</button>

      <!-- Contextual button for informational alert messages -->
      <button type="button" class="btn btn-info">Info</button>

      <!-- Indicates caution should be taken with this action -->
      <button type="button" class="btn btn-warning">Warning</button>
    </div>
    <div class="col-md-3">
      <p>3 cols wide</p>

      <!-- Indicates a dangerous or potentially negative action -->
      <button type="button" class="btn btn-danger">Danger</button>

      <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
      <button type="button" class="btn btn-link">Link</button>
    </div>
  </div>
</div> <!-- end container -->