<div class="container">
  
  <div class="row">
    <div class="col-md-4">
      <h3>I've found {{numDataFeeds}} data feeds.</h3>
    </div>

    <div class="col-md-4">
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Hello!</strong> Welcome to Pinz. <a href="/#/map">View the map.</a>
      </div>
    </div>
  </div>

  <div class="row" ng-controller="QueryCtrl">
    <p ng-model="hello">{{hello}} there</p>
    <div class="col-md-12">
      <ul>
        <li ng-model="dataSource" ng-repeat="src in dataSources">
          id: {{src.id}} {{hello}}
        </li>
      </ul>
    </div>
  </div>
</div> <!-- end container -->