<div class="container">
  
  <div class="row">
    <div class="col-md-4">
      <h3>I'm a map.</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p>3 cols wide</p> 
      <!-- Standard gray button with gradient -->
      <button type="button" class="btn btn-default">Default</button>

      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-md-6">
      <p>.col-md-6</p>

      <!-- Indicates a successful or positive action -->
      <button type="button" class="btn btn-success">Success</button>

      <!-- Contextual button for informational alert messages -->
      <button type="button" class="btn btn-info">Info</button>

      <!-- Indicates caution should be taken with this action -->
      <button type="button" class="btn btn-warning">Warning</button>
    </div>
  </div>
</div> <!-- end container -->