<div class="query-modal-template">

  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
          <li class="active">
            <a href="#guide" data-toggle="tab" target="_self">Guide</a>
          </li>
                    
          <li ng-model="dataSource" ng-repeat="src in dataSources">
            <a href="#{{src._id}}" data-toggle="tab" target="_self">{{src._id}}</a>
          </li>
      </ul>

      <!-- Guide tab -->
      <div class="tab-content">

        <div id="guide" class="tab-pane active">
            <div class="row">
              <div class="panel-heading">
                <div class="jumbotron">
                  <h3>Welcome to PINZ</h3>
                  <p class="lead">Near-real time visualisation of geo-spatial data.<p>
                </div>
                <p>This page presents an overview of the data that is accessible through Pinz.</p>
                <p>Each available data source has it's own tab.  Clicking on the source name takes you to a page where you can describe the information you are interested in visualising.</p>
              </div>
            </div>
        </div>

        <!-- angular repeated stuff -->
        <div class="tab-pane fade" ng-repeat="(srcIdx , source) in dataSources" id="{{source._id}}">

          <div class="row">
            <div class="panel-heading">
              <!-- add an info box -->
              <p class="lead"><strong>{{source._id}}:</strong> {{source.desc}}</p>
              <p>Oldest:{{source.oldest}}, Newest:{{source.newest}}, Count:{{source.count}}</p>
              <p>index: {{srcIdx}}
            </div>
          </div>

          <div class="row well panel-body" ng-repeat="(attrIdx, attr) in source.attrs" id="{{source._id + "_" + attr.name}}">
            <div class="col-md-1">
              Attr metadata: index - {{attrIdx}}
            </div>

            <div class="col-md-2">
              <strong>{{attr.name}}</strong>
            </div>

            <div class="col-md-6">
              {{attr.desc}}
            </div>


            <!-- <div class="pull-right" ng-if="(attr.type == 'string' && attr.values)"> -->
            <div class="pull-right" ng-if="(attr.type == 'string' && attr.values) ">

              <!-- Back to basics... the controller is managing data, and Bootstrap is doing the toggling - shall we skip a directive? -->
              <div class="btn-group" data-toggle="buttons"}>
                <label class="btn btn-success" ng-repeat="(valueIdx, value) in inputQuery[srcIdx].attrs[attrIdx].v" ng-click="updateDataQuery(srcIdx, attrIdx, valueIdx , value)">
                  <input type="checkbox">{{value}}</input>
                </label>
              </div>
            </div>

            <div class="col-md-4 pull-right" ng-model="attr" ng-if="attr.type =='string' && !(attr.values)">
              <input type="text" ng-model="inputQuery[srcIdx].attrs[attrIdx].v">
            </div>


            <div class="col-md-4 pull-right" ng-model="attr" ng-if="attr.type=='number'">
              <div style="margin-bottom: 1em;">
                <span class="col-md-2">Min</span><input type="text" ng-model="inputQuery[srcIdx].attrs[attrIdx].low" placeholder="{{dataSources[srcIdx].attrs[attrIdx].low}}"><br>
              </div>
              <div style="margin-top: 1em;">
                <span class="col-md-2">Max</span><input type="text" ng-model="inputQuery[srcIdx].attrs[attrIdx].high" placeholder="{{dataSources[srcIdx].attrs[attrIdx].high}}"><br>
              </div>
            </div>
          </div>

    </div>

  </div>

  </div> <!-- End column-->

  </div><!-- End content-tab div -->
  
<div class=well col-md-6>
  <pre>{{dataSources | json }}</pre>
</div>

<div class=well col-md-6>
  <pre>{{dataQuery}}</pre>
</div>

<div class=well col-md-6>
  <pre>{{serverQuery}}</pre>
</div>