<div class="container">
  
  <div class="row">
      <h2>Choose your data</h2>
  </div>


  <div class="row">

    <div class="col-md-12">
      <ul class="nav nav-tabs">
          <li class="active">
            <a href="#guide" data-toggle="tab" target="_self">Guide</a>
          </li>
          
          <li><a href="#geo" data-toggle="tab" target="_self">Geospatial</a></li>
          
          <li ng-model="dataSource" ng-repeat="src in dataSources">
            <a href="#{{src._id}}" data-toggle="tab" target="_self">{{"Source " + src._id}}</a>
          </li>

      </ul>

      <!-- Guide tab -->
      
      <div class="tab-content">

        <div id="guide" class="tab-pane active">
            <div class="row">
              <div class="panel-heading">
                <h3>Welcome to Pinz query builder</h3>
                <p>This page presents an overview of the data that is accessible through Pinz.</p>
                <p>Each available data source has it's own tab.  Clicking on the source name takes you to a page where you can describe the information you are interested in visualising.</p>
              </div>
            </div>
        </div>

        <div id="geo" class="tab-pane">
            <div class="row">
              <div class="panel-heading">
                <h3>Set your geographic area of interest</h3>
                <p>TBC</p>
                <div class="row">
                  <button class="btn btn-primary btn-lg pull-left" style="margin-top: 1em;" ng-click>
                    <a href="/#/map">Send me to the map!</a>
                </button>
                <button class="btn btn-primary btn-lg pull-right" style="margin-top: 1em;" ng-click="saveUserQuery()">Save query</button>
                  </div>
                </div>
            </div>
        </div>

        <!-- angular repeated stuff -->
        <div class="tab-pane fade" ng-repeat="(srcIdx , source) in dataSources" id="{{source._id}}">

          <div class="row">
            <div class="panel-heading">
              <!-- add an info box -->
              <h3 class="panel-title">{{"Source " + source._id + " provides " + source.desc + " and contains a total of " + source.count + " observables.\nOldest observabled: " + source.oldest + "\nNewest observable: " + source.newest + "Data source has " + attrs.length + " attributes."}}</h3>
            </div>
          </div>

          <div class="row well panel-body" ng-repeat="(attrIdx, attr) in source.attrs" id="{{source._id + "_" + attr.name}}">

            <div class="col-md-2">
              <strong>{{attr.name}}</strong>
            </div>

            <div class="col-md-6">
              {{attr.desc}}
            </div>

            <div class="col-md-4 pull-right" ng-model="attr" ng-if="(attr.type=='string' && attr.values)">
              <select class="select" ng-model="userQuery[srcIdx].attrs[attrIdx].v" ng-options="value for value in source.attrs[attrIdx].values" ng-change="change(attr)" width="175" style="width: 175px"></select>
            </div>

            <div class="col-md-4 pull-right" ng-model="attr" ng-if="(attr.type=='string') && !attr.values">
              <input type="text" ng-model="userQuery[srcIdx].attrs[attrIdx].v"></br>
            </div>

            <div class="col-md-4 pull-right" ng-model="attr" ng-if="attr.type=='number'">
              <div style="margin-bottom: 1em;">
                <span class="col-md-2">Min</span><input type="text" ng-model="userQuery[srcIdx].attrs[attrIdx].low" placeholder={{dataSources[srcIdx].attrs[attrIdx].low}}><br>
              </div>
              <div style="margin-top: 1em;">
                <span class="col-md-2">Max</span><input type="text" ng-model="userQuery[srcIdx].attrs[attrIdx].high" placeholder={{dataSources[srcIdx].attrs[attrIdx].high}}><br>
              </div>
            </div>
          </div>

          <div class="row"></div>
            <div class="row">
              <button class="btn btn-primary btn-lg pull-left" style="margin-top: 1em;" ng-click>
                <a href="/#/map">Send me to the map!</a>
              </button>
              <button class="btn btn-primary btn-lg pull-right" style="margin-top: 1em;" ng-click="saveUserQuery()">Save query</button>
            </div>
          </div>

    </div>
  </div>
  </div>

<!--   <div class=well col-md-6>
    <pre>{{userQuery}}</pre>
  </div>
  <div class=well col-md-6>
    <pre>{{dataQuery}}</pre>
  </div> -->

  

</div> <!-- end container -->