<!DOCTYPE html>
<html ng-app="leafletDemoApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="http://code.jquery.com/jquery.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>

    <script src="/static/js/ui-bootstrap-tpls-0.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen" >

    <script src="/static/js/moment.min.js"></script>

    <script src="http://leaflet-extras.github.com/leaflet.css/dist/leaflet.css.bundle.min.js"></script>

    <!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css"/> -->
    <title>Pinz - Geospatial Visualisation of Real-time Data</title>
    <!-- <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>  -->

    <script type="text/javascript" src="http://www.patrick-wied.at/static/heatmapjs/src/heatmap.js"></script>
    <script type="text/javascript" src="http://www.patrick-wied.at/static/heatmapjs/src/heatmap-leaflet.js"></script>
    
    <!-- have added 3 goodies to leaflet: mouse position, full screen, and
    marker cluster.  Files are in public/css,js -->
    <script src="/static/js/L.Control.MousePosition.js"></script>
    <link rel="stylesheet" href="/static/css/L.Control.MousePosition.css" />
    <link rel="stylesheet" href="/static/css/Control.FullScreen.css" />
    <script src="/static/js/Control.FullScreen.js"></script>
    <link rel="stylesheet" href="/static/css/MarkerCluster.css" />
    <link rel="stylesheet" href="/static/css/MarkerCluster.Default.css" />
    <script src="/static/js/leaflet.markercluster-src.js"></script>

    <!-- <script type="text/javascript" src="/static/js/leaflet.sprite.min.js"></script> -->
    <script type="text/javascript" src="/static/js/leaflet.sprite.js"></script>

    <!-- marker cluster style for pinz -->
    <link rel="stylesheet" href="/static/css/pinz.css" />
  </head>
  <body ng-controller="AppCtrl">
    <h1>View Pinz Server Data</h1>
    <div class="panel panel-default">
      <div class="panel-body">
	Reload data every <input size="3" placeholder="1" ng-model="pollingTimeout"> seconds
	<div class="btn-group">
	  <button type="button" ng-click="startDataFeed()" class="btn btn-default">Start</button>
	  <button type="button" ng-click="stopDataFeed()" class="btn btn-default">Stop</button>
	</div>
	Buffer <input size="3" placeholder="200" ng-model="nbBuffered"> points
	<span id="errors"> {{error}} 

	  <form id="renderOption", name="renderOption">
	    <input type="radio" ng-model="layerType" value="points">   Points <br/>
	    <input type="radio" ng-model="layerType" value="cluster">  Clusters <br/>
	    <input type="radio" ng-model="layerType" value="heat">     Heat Map <br/>
	    <tt>render type = {{layerType}}</tt>
	  </form>
		
	  History amount: <input type="range" ng-model="historyAmt" min="0" max="100" step="1" style="width: 320px">
	  <tt> = {{historyAmt}} %</tt><br/>

	  heatmap opacity: <input type="range" ng-model="heatOpacity" min="0" max="1" step="0.01" style="width: 320px">
	  <tt> = {{heatOpacity}}</tt><br/>

	  heatmap radius: <input type="range" ng-model="heatRadius" min="0" max="40" step="1" style="width: 320px">
	  <tt> = {{heatRadius}} pixels</tt><br/>

	</span>
      </div>
    </div>
    <div id="map" style="width: 900px; height: 450px"></div>
    <!--  <div id="rawData">                  --> 
    <!--    <h3> Posted request: </h3>	    -->
    <!--    <pre> {{postData|json}}  </pre>   -->
    <!--  </div>				    -->
    <!--  <div id="returnedData">		    -->
    <!--    <h3> The response: </h3>	    -->
    <!--    <pre> {{geoData|json}} </pre>	    -->
    <!--  </div>                              -->
  </body>
  <script src="/ngapp/app.js"></script>
</html>