
@media screen and (min-width: 768px) {
.modal-dialog {
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (min-width: 1080px) {
.modal-dialog {
    width: 80%px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

.leaflet-control-coordinates {
  background-color: #000;
  background-color: rgba(0,0,0,0.6);
  cursor: pointer;
}
